.heading {
  background: var(--primary-color);
  color: var(--white);
  padding: .5rem;
  padding-left: 2rem;
}

.listItems {
  list-style-type: none;
  padding-left: 2rem;

  a {
    color: var(--primary-color);
    text-decoration: underline;
    font-size: 1.8rem;
    display: block;
    padding: 1.5rem;
    padding-left: 0;
  }
}

.map {
  padding: 0 1rem;
  margin-top: 1rem;
  width: 100%;
}

.googleMap {
  max-height: 200px;
}

.addressBlock {
  padding: var(--container-padding);
}

@media(min-width: 768px) {
  // FB component pulls in some extra markup with conflicting styling
  .facebookComponentWrapper {
    > div {
      padding-left: 0 !important;
    }
  }
}

@media(min-width: 992px) {
  .heading {
    margin-top: 0;
  }

  .sitemap {
    .heading {
      margin-left: 2rem;
    }
  }

  .quickLinks {
    .heading {
      margin-right: 2rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    padding-top: 2rem;

    iframe {
      margin: 0;
    }
  }

  .mapColumn {
    max-height: 300px;
  }
}
