.imageWrapper {
  // keep layout from shifting as image loads
  min-height: 360px;
  overflow: hidden;

  img {
    display: block;
  }

  &.topBorder {
    img {
      border-top: 6px solid var(--primary-color);
    }
  }
}

@media(min-width: 992px) {
  .imageWrapper {
    &.topBorder {
      img {
        border: none;
      }
    }
  }
}